

body {
  /* border: 1px solid red; */
  /* display: grid; */
  /* place-items: center; */
  /* height: 100vh; */
  background: linear-gradient(hsl(170, 90%, 85%), hsl(165, 80%, 75%));
  margin-top: 0;
  color: hsl(170, 81%, 34%);
  height: 100vh;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.headerContainer {
  /* border: 1px solid red; */
  font-family: system-ui, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: large;
  color: hsl(170, 75%, 45%);
  padding: 0.5rem;
}

.headerContainer h3 {
  margin: 0;
  padding: 0;
}

form {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .5rem;
  padding: .5rem .7rem;
  /* width: fit-content; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: white;
  text-align: center;
  overflow-x: hidden;
}

#progressBar {
  border-bottom: 2px solid rgb(255, 36, 36);
  width: 0%;
  
  position: relative;
  left: 0;
  bottom: -.5rem;
  
}

.progressBarAnimate {
  animation: progressBar 61s 1 linear;
}

@keyframes progressBar {
  0% {
    width: 107%;
  }

  100% {
    width: 0%;
  }
}

.input {
  display: flex;
  flex-direction: row;
  text-align: center;
}

input {
  width: 50%;
  text-align: center;
  border: 1px solid hsl(172, 60%, 70%);
  border-radius: .25rem;
  padding: .2rem;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: .15s;
}

input.accessGranted {
  color: hsl(170, 80%, 60%);
  background-color: white;
  border: 1px solid hsl(172, 60%, 90%);
  box-shadow: none;
  transition: 3s;
}

button {
  width: 10rem;
  color: hsl(170, 100%, 19%);
  background-color: hsl(172, 91%, 78%);
  border: 1px solid hsl(172, 60%, 70%);
  border-radius: .25rem;
  padding: .2rem .5rem;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-left: .5rem;
  transition: .15s;
  font-family: system-ui, Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 600px) {
  button:enabled:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px, rgba(0, 0, 0, 0.35) 0px 1px 4px;
    cursor: pointer;
  }
}

button:enabled:active {
  background-color: hsl(172, 60%, 70%);
  border: 1px solid hsl(172, 28%, 53%);
  box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 1px, rgba(0, 0, 0, 0.24) 0px 1px 1px;
  transition: 200ms;
}

button:disabled {
  color: hsl(170, 80%, 60%);
  background-color: white;
  border: 1px solid hsl(172, 60%, 90%);
  cursor: auto;
  box-shadow: none;
  transition: 3s;
}

button:disabled:hover {
  cursor: auto;
}

label {
  margin-bottom: 0.5rem;
  font-family: system-ui, Arial, Helvetica, sans-serif;
}

.iframeContainer {
  margin-top: .5rem;
  /* border: 1px solid red; */
  width: 100%;
}

.iframeContainer iframe {
  border-radius: .5rem;
  border: none;
  width: 100%;
  height: min(calc(1.414 * (100vw - 1rem - 2px) + 3rem), 32cm);
  box-shadow: none;
  transition: 300ms;
  /* filter: blur(10px); */
}

#loader {
  display: none;
}

.loaderDiv {
  display: grid;
  place-items: center;
}

/*!
 * three-dots - v0.3.2
 * CSS loading animations made with single element
 * https://nzbin.github.io/three-dots/
 *
 * Copyright (c) 2018 nzbin
 * Released under MIT License
 */
/* @charset "UTF-8"; */
/**
  * ==============================================
  * Dot Elastic
  * ==============================================
  */
.dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: hsl(170, 81%, 34%);
  color: hsl(170, 81%, 34%);
  animation: dot-elastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: hsl(170, 81%, 34%);
  color: hsl(170, 81%, 34%);
  animation: dot-elastic-before 1s infinite linear;
}

.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: hsl(170, 81%, 34%);
  color: hsl(170, 81%, 34%);
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1.5);
  }

  50% {
    transform: scale(1, 0.67);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 1.5);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.67);
  }

  75% {
    transform: scale(1, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
